[*.cs]

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = unused_local_variable

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0022: Use expression body for methods
dotnet_diagnostic.IDE0022.severity = none
