[*.cs]

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = when_on_single_line

# IDE0130: Namespace does not match folder structure
dotnet_style_namespace_match_folder = false

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0011: Add braces
csharp_prefer_braces = when_multiline
