#filterR,
#filterG,
#filterB {
	margin: 2.5rem 1rem 1rem;
}

#filterR .noUi-connect {
	background: #dc3545;
}

#filterG .noUi-connect {
	background: #198754;
}

#filterB .noUi-connect {
	background: #0d6efd;
}
