@page "{handler?}"
@model PlotDigitizer.Web.Pages.AxisPageModel
@{
	ViewData["Title"] = "AxisPage";
}
@section scripts{
	<script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
	<script src="~/js/axisPage.js"></script>
}

<h1>@ViewData["Title"]</h1>

<div id="view"></div>

<form method="post" novalidate>
	<input id="x" name="x" type="number" class="d-none" />
	<input id="y" name="y" type="number" class="d-none" />
	<input id="width" name="width" type="number" class="d-none" />
	<input id="height" name="height" type="number" class="d-none" />
	<input id="submit" type="submit" />
</form>
