@page "{handler?}"
@model PlotDigitizer.Web.Pages.AxisPageModel
@{
	ViewData["Title"] = "AxisPage";
	var rescale = Model.Model.InputImage.Width / Model.Model.DisplayWidth;
}
@section scripts{
	<script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
	<script>
		$('#view').load('/AxisPage/View');
		$('#submit').click(() => {
			var svg = document.getElementById('svg'),
				axis = document.getElementById('axis'),
				rectSvg = svg.getBoundingClientRect(),
				rectAxis = axis.getBoundingClientRect(),
				x = parseInt((rectAxis.left - rectSvg.left) * @rescale ?? 0),
				y = parseInt((rectAxis.top - rectSvg.top  ) * @rescale ?? 0),
				width = parseInt(rectAxis.width * @rescale ?? 0),
				height = parseInt(rectAxis.height * @rescale ?? 0);
			$('#x').val(x);
			$('#y').val(y);
			$('#width').val(width);
			$('#height').val(height);
		});
	</script>
}

<h1>@ViewData["Title"]</h1>

<div id="view"></div>

<form method="post" novalidate>
	<input id="x" name="x" type="number" class="d-none" />
	<input id="y" name="y" type="number" class="d-none" />
	<input id="width" name="width" type="number" class="d-none" />
	<input id="height" name="height" type="number" class="d-none" />
	<input id="submit" type="submit" />
</form>
