@page  "{handler?}"
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1>@Model.Message</h1>
	<form method="post">
		<input type="submit" value="Click to post" />
	</form>
	<form method="post" asp-page-handler="type1">
		<input type="submit" value="Click to post - type1" />
	</form>
	<form method="post" asp-page-handler="type2">
		<input type="submit" value="Click to post - type2" />
	</form>
	<a asp-page="LoadPage">To Load Page</a>
</div>