@page
@model PlotDigitizer.Web.Pages.LoadPageModel
@{
    ViewData["Title"] = "LoadPage";
}

<h1>LoadPage</h1>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="formFile" />
    <input type="submit" />
</form>

